
body{
    color: rgb(255, 255, 255);
    background-color: rgb(28, 28, 28);
    text-justify:inter-word;  
}



header{
    background-image: url('img/batsbanner.png');
    background-repeat: repeat;
    background-size: 10%;
    margin: 0;
    height: 125px;
    text-align: center;

}

section{
    background-color: black;
    padding: 1%;
}

article{
  background-color: rgb(28, 28, 28);
  padding: 1%;
  margin: 3%;
}

.t2{
  margin:1%;
  margin-right: 15%;
  margin-left: 15%;
}

img{
    text-align: center;
}

footer{
    background-color: black;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 1%;
    text-align:center;
    font-size: small;


}

nav{
    color: palevioletred;
    background-color: black;
	font-size: 120%;
    text-align: center;
    word-spacing: 75%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1%;
    margin-top: 1%;
 

}

a:link {
    color: rgb(255, 135, 155);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(176, 79, 112);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }

  div{
    background-color: black;
  }